.main{
    margin: 0px auto;
    padding: 0px 10px;
}
body{
    text-align: center;
}
li{
    margin-bottom: 1em;
}
textarea{
    max-width: 100%;
    height: 850px;
    width: 100%;
    font-size:10px!important;
}
.alert-warning, .alert-danger{
    padding: 0px 5px;
}
div.week h4, div.day, div.day label {
    margin:0px;
}
pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}